.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 500px;
  margin-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.appList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
